.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }
}
