.navbar_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2vh;
  .accueil_link {
    cursor: pointer;
    width: 20%;
    text-align: center;
    border-right: 4px solid #015eff;
    a {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: black;
    }
    a :hover {
      color: #015eff;
    }
    .active {
      color: #015eff;
    }
    .active :hover {
      color: black;
    }
  }
  .actualites_link {
    width: 20%;
    text-align: center;
    border-right: 4px solid #015eff;
    a {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: black;
    }
    a :hover {
      color: #015eff;
    }
    .active {
      color: #015eff;
    }
    .active :hover {
      color: black;
    }
  }
  .statistique_link {
    width: 20%;
    text-align: center;
    a {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: black;
    }
    a :hover {
      color: #015eff;
    }
    .active {
      color: #015eff;
    }
    .active :hover {
      color: black;
    }
  }
}

.active {
  color: #015eff !important;
}
.menu_icon {
  svg {
    margin-top: 14px;
    width: 25px;
    height: 28px;
  }
}
.menu_wrapper {
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: 1050;
  font-weight: 600 !important;
}
