.accom {
  width: 328px;
  height: 23px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}
.accompsection {
  padding: 5%;
  margin-top: 10%;
  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffffff !important;
}
.firstrender {
  padding: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffffff !important;
}
.secondrender {
  padding: 5%;
}
.wrapper {
  padding: 5%;
  border-radius: 10px;
  background-color: #fbfbfb;
}
.label {
  color: #282828;
}
